<div th:fragment="lib" xmlns:th="http://www.w3.org/1999/xhtml">

    <!--JQuery-->
    <script type="text/javascript" src="lib/jQuery/jquery.min.js"></script>

    <!--AngularJs-->
    <script type="text/javascript" src="lib/angular/angular.min.js"></script>

    <!--MDUI-->
    <script type="text/javascript" src="lib/mdui/js/mdui.min.js"></script>

    <!--BootStrap-->
    <!--<script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>-->

    <!--Less-->
    <script type="text/javascript" src="lib/less/less.min.js"></script>

</div>

<div th:fragment="lib" xmlns:th="http://www.w3.org/1999/xhtml">

    <!-- netReader -->
    <script type="text/javascript" src="js/net-reader-ctrl.js"></script>

</div>