<div id="article">
    <div class="title mdui-color-theme mdui-shadow-4">
        <span ui-sref="chapter({novelId:chapter.novelId})" ng-bind="chapter.novelCnName || chapter.novelName">小说名称</span> / #<span ng-bind="chapter.subId"></span> <span ng-bind="chapter.cnSubTitle || chapter.subTitle"></span>
    </div>
    <div class="mdui-row mdui-p-x-1">
        <form class="mdui-textfield mdui-col-sm-4" name="cnSubTitleForm" role="form">
            <input class="mdui-textfield-input" type="text" placeholder="暂无译名" ng-model="subTitle" ng-disabled="!(user.authority == 'user_admin' || user.authority == 'admin' || user.authority == 'translator')"/>
            <button class="mdui-btn mdui-btn-icon tool-btn pull-right" ng-show="chapter.cnSubTitle != subTitle" ng-click="updateSubTitle()" mdui-tooltip="{position: 'right',content: '保存'}"
                    style="position: absolute;right: 0;top: 0;">
                <i class="mdui-icon material-icons">&#xe5ca;</i>
            </button>
        </form>
        <button class="mdui-btn mdui-btn-icon mdui-text-color-theme mdui-ripple tool-btn pull-right mdui-btn-raised" ui-sref="chapter({novelId:chapter.novelId})" title="返回章节列表">
            <i class="mdui-icon material-icons">&#xe5c4;</i>
        </button>
        <a href="{{chapter.url}}" title="查看原文网站" target="_blank">
            <button class="mdui-btn mdui-btn-icon mdui-text-color-theme mdui-ripple tool-btn pull-right mdui-btn-raised tool-btn-web">Web</button>
        </a>
        <button class="mdui-btn mdui-btn-icon mdui-text-color-theme mdui-ripple tool-btn pull-right mdui-btn-raised tool-btn-article" title="显示原文">あ</button>
        <button class="mdui-btn mdui-btn-icon mdui-text-color-theme mdui-ripple tool-btn pull-right mdui-btn-raised" title="显示译文"
                mdui-dialog="{target: '#translation_list'}">
            <i class="mdui-icon material-icons">&#xe927;</i>
        </button>
        <div class="mdui-dialog" id="translation_list">
            <div class="mdui-dialog-title">选择要阅读的译文</div>
            <div class="mdui-dialog-actions mdui-dialog-actions-stacked">
                <button class="mdui-btn mdui-ripple" mdui-dialog-close="" ng-repeat="translation in transList | filter:{selected:false}"
                        ng-click="showTranslation(translation)">
                    {{translation.author}}
                </button>
            </div>
        </div>
    </div>
    <div class="nr_container">
        <net-reader-article article="chapter.content" author="'原文'"></net-reader-article>
        <net-reader-translation ng-repeat="translation in transList | filter:{selected:true}" translation="translation" original="chapter.content"></net-reader-translation>
    </div>
</div>